.bubble
{
    position:relative;
    background:green;
    float:left;     /* because the image at left */
}
.bubbleborder
{
    position:absolute;
    top:0;
    left:0;
}
.bubbletext
{
    position:absolute;
    top:0;
    left:0;
    width:220px;
    height:200px;
    padding:76px 8px 8px 8px;
    text-align:center;
}

.draw_canvas {
    width: 471px;
    height: 600px;
    border-style: solid;
    border-width: 2px;
    border-color: #1d2124;
    font-size: 30px;
    text-align: center;
}

.remove_button {
    color: #ff1700;
    margin-left: 5px;
}

.canvas_container {
    width: 500px;
    height: 600px;
    max-width: 500px;
    max-height: 600px;
}

.nav-tabs-custom {
    margin-top: 3%;
    margin-bottom: 10px;
}

.nav-tabs .page-nav-link:hover, .nav-tabs .page-nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .page-nav-link.active,
.nav-tabs .page-nav-link.show .page-nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.function-menu-tabs {
    font-weight: bold;
    font-family: san-serif;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 15px 5px;
}

.container-width-limit {
    min-width: 700px;
    max-width: 700px;
}

.tabs-margin {
    margin-right: 10px;
}

.body-container {
    height: 100%;
    background-color: #eeeeee;
}

.body-container-inner {
    height: 100%;
    min-width: 500px
}

.left-tabs {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    text-align: right;
    font-size: 25px;
    font-family: sans-serif;
    color: #eeeeee;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.left-tabs-container {
    width: 170px;
    background-color: #ffc107;
    margin-top: 1px;
}

.left-list-items {
    width: 330px;
    background-color: #f39c12;
    margin-top: 1px;
    display: none;
}

.left-list-item {
    background-color:#f39c12;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    text-align: left;
    font-size: 25px;
    font-family: sans-serif;
    color: #eeeeee;
    font-style: italic;
}

#add-new-comic-input {
    height: 30px;
    width: 60%;
}

#add-new-comic-button {
    height: 30px;
    width: 70px;
}

.list-block {
    padding-bottom: 75px;
}

.list-button {
    height: 38px;
    font-size: 15px;
    margin-left: 10px;
}

.right-list-input {
    width: 170px;
    height: 30px;
}

.right-list-button {
    height: 30px;
    font-size: 15px;
    margin-left: 10px;
}

.right-tabs {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 25px;
    font-family: sans-serif;
    color: #333333;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.right-tabs-container {
    width: 80px;
    background-color: #ffc107;
    margin-top: 1px;
}

.right-list-items {
    width: 330px;
    background-color: #f39c12;
    margin-top: 1px;
    display: none;
}

.right-list-item {
    background-color:#f39c12;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    text-align: left;
    font-size: 25px;
    font-family: sans-serif;
    color: #eeeeee;
    font-weight: bold;
    font-style: italic;
}

.icon-style {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-style:hover {
    color: grey;
}

.image-style {
    width: 25px;
    height: 25px;
    filter: invert(100%);
    cursor: pointer;
}

.image-style:hover {
    filter: invert(50%);
}

.vertical-align {
    vertical-align: middle;
}