.bubble
{
    position:relative;
    background:green;
    float:left;     /* because the image at left */
}
.bubbleborder
{
    position:absolute;
    top:0;
    left:0;
}
.bubbletext
{
    position:absolute;
    top:0;
    left:0;
    width:220px;
    height:200px;
    padding:76px 8px 8px 8px;
    text-align:center;
}

.draw_canvas {
    width: 460px;
    height: 582px;
    border-style: solid;
    border-color: #1d2124;
    font-size: 30px;
    text-align: center;
}